*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins', sans-serif;
}

body {
   display: flex;
   flex-direction:column;
    align-items: center;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main div {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-bottom: 1px solid black;
}
main div label{
    padding: 10px;
    margin: 5px;
}